html body {
   max-width: 370px;
   font-family: 'Montserrat', sans-serif;
}
.paddings {
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
}
.section-title {
	/*position: relative;*/
	text-align: center;
	margin: 50px;
} 
.section-title h1 {
	font-weight: bold;
	font-size: 80px;
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
}
.section-title h2 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	top: -54px;
}
header li {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 15px;
  padding.-top: 30px;
}
.hidden {
	display: none;
	visibility: hidden;
}
.background {
	height:	 100vh;
	background-image: url(../images/me-1.jpg);
}
.profile {
	background: white;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 50%;
	border: 1px solid;
	height: 200px;
	width: 250px;	
	padding: 10px;
}
.profile h2{
	text-align: center;
	font-weight: bold;
	margin-top: 60px;
	font-size: 45px;
}
.profile h3 {
	margin-top: 25px; 	
	margin-left: 35%;
}
.text {
	border: 1px solid rgba(0, 0, 0, 0.56);
	height: 100%;
}
/*.about {
    margin-top: 100px;
    padding-left: 20px;
}*/
#mazen {
	position: absolute;
	top: 20px
	left: 20px;
	color: white;
}
.shadow {
   background-color: rgba(0, 0, 0, 0.56);
   height: 100%;
}
header h1 {
	position: absolute;
}
body .enter {
	height: 100vh;
	min-height: 500px;
	background-image: url(../images/me-1.jpg);
	background-size: cover;

}
.profile img {
	border-radius: 50%;
	border: solid 10px white;
	box-shadow: 1px 8px 5px grey;
	width: 150px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 78%;
	z-index: 1;
}
.little-menu {
	background-color: black;
	color: white;
	/*padding-left: 4%;
	padding-bottom: 40px;*/
	margin-top: 50px;
	padding-top: 20px;

}
.little-menu div {
	margin-top: 20%;
	text-align: center;
	height: 100px;
}
.little-menu div h1 {
	padding-left: 2%;
}
.little-menu div h1, .little-menu div p {
  margin-top: 20px;
}
/*.skill {
    padding-left: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-right: 10px;
}*/
.gallery {
	margin-top: 35px;
	margin-left: 0%;
	text-align: center;
}

.gallery div img {
	width: 70%;
	margin-top:10px;
}
.little-menu div i {
	font-size: 50px;
	margin-left: 15px;
}
.job {
    padding-left: 14%;
    padding-right: 14%;
}
.job div {
	margin-top: 20px;
	text-align: center;
	height: 220px;
    box-shadow: 2px 2px 7px grey;
    padding: 40px 10px;
}
.job div h1 {
	font-weight: bold;
}
.job div i {
	font-size: 50px;
	background: black;
	color: white;
	border-radius: 50%;
	line-height: 80px;
	width: 80px;
	height: 80px;	
}
.job div h1, .job div p {
	padding-top: 20px;
}
.job div p {
	padding-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.about h1  {
    margin-bottom: 20px;
}
.skill div {
	margin-top: 10px;
	margin-bottom: 10px;
}
.skill .white-90 {
	float: right;
    background: grey;
    width: 10%
}
.skill .white-88 {
	float: right;
    background: grey;
    width: 12%
}
.skill .white-84 {
	float: right;
    background: grey;
    width: 16%
}
.skill .white-85 {
	float: right;
    background: grey;
    width: 15%
}
.skill h1 {
	margin-bottom: 40px;
	font-size: 25px;
}
.skill .b90{
	background: black;
	float: left;
	width: 90%;
}
.skill .b85{
	background: black;
	float: left;
	width: 85%;
}
.skill .b84{
	background: black;
	float: left;
	width: 84%;
}
.skill .b88 {
	width: 88%;
	background: black;
	float: left;
}
.gallery h1 {
	padding-bottom: 20px;
}
.gallery div .nav {
	height: 200px;
	padding-left: 20%;
}
.gallery .nav p {
       float: left;
       padding-left: 10px;
       color: pink;
       background-color: grey;
}
.recent {
	margin-bottom: 50px;
    height: 100px;
    margin-top: 90px;
}
.recent h1 {
	font-size: 40px;

}
.article {
	text-align: center;
	background: black;
	color: white;
	height: 400px;
	font-size: 15px;
	margin-top: 60px;
	padding-top: 110px;
	box-sizing: border-box;
}
.article p {
	padding-top: 40px;
}
.article div #one {
	float: left;
	padding-left: 20%;
}
.article div #two{
	float: right;
	padding-right: 50%;
}
.blog {
	padding-left: 10%;
	background: #FAFAFA;
	padding-right: 10%;
	margin-bottom: 80px;

}
.blog-text {
	border: 1px solid #EEEEEE;
	justify-content: space-around;
	padding: 20px 10px;
}
.blog div div img {
     width:80%; 
}
.blog div div h2 {
      font-size: 20px;
      padding-top: 10px;
      padding-left: 10px;
      font-weight: bold;

}
.blog div div p {
	font-size: 15px;
	padding-top: 10px;
	padding-left: 10px;
	line-height: 25px;
}
p {
	font-size: 15px;
	line-height: 25px;
}
.blog div div h1 {
	font-size: 10px;
	padding-left: 10px;
}
.blog #h1 {
	padding-left: 25%;
	height: 100px;
	font-size: 25px;
	margin-top: 100px;
}
.last  {
   background-color: #141414; 
    padding: 50px 15%;
}
.last div {
	padding-top: 35px;	
}
.last div i {
	font-size: 50px;
	padding-bottom: 20px;
}
.both {
	display: flex;
	flex-wrap: nowrap;
}
.form {
	display: block;
    width: 100%;
    padding: 0 15%;
}
.pl1  {
   display: flex;
   justify-content: space-between;
   padding-bottom: 4%; 
}
input {
	width: 48%;
	height: 57px;
	text-indent: 15px;
	background-color: #F3F3F3;
	border: 0px ;
}
textarea {
	width: 100%;
	height: 125px;
	text-indent: 15px;
	margin-bottom: 50px;
	background-color: #F3F3F3;
	border: 0px;
}
button {
	display: block;
	width: 165px;
	margin: auto;
	height: 56px;
	background: #000;
	color: white;
	margin-bottom: 90px;
}
.blog1 {
	display: flex;
	justify-content: space-around;
}
.blog1 > div {
	width:32%; 

}
@media only screen and (min-width: 768px) {
  body {
  	max-width: 1000px;
  	font-family: 'Montserrat', sans-serif;
  }
  .hidden {
     display: inline-block;
     visibility: visible;
  }
 nav {
	display: inline-block;
	padding-left: 50px;
	float:right;
	line-height: 90px;
	color: white;
 }
 li {
	display: inline;
	padding-right: 30px;

 }
 .profile {
	background: white;
	display: inline-block;
	position: absolute;
	bottom: 25%;
}
.little-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding-top: 10px;
	padding-bottom: 70px;
}
.little-menu div {
	margin-top: 50px;
}
.job div {
	width: 45%;
}
.job {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.gallery div .nav {
	padding-left: 40.5%;
}
.photo {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
}
.photo div {
	width: 48%;	
}
.blog div img {
    width: 100%; 
}
.last {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	color: #797979;
}
.last div {
	text-align: center;
}
.last div {
	width: 32%
}
}
@media only screen and (min-width: 1200px) {
body {
  	min-width: 100%;
  	max-width: auto;
  }
   .job {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 }
  .job div {
  	width: 30%;
  }
 .profile {
 	width: 515px;
 	height: 235px;
 }
 .skill {
 	  width: 40%;
    float: right;
    margin-left: 50px;
    margin-top: 50px;
 }
 .about {
 	width: 40%;
    float: left;
    margin-top: 50px;
 }
 .gallery div img {
    width: 100%;
    margin-top: 10px;
}
 .photo {
 	justify-content: space-around;
 }
 .photo > div {
 	width: 32%;
 }
 .blog div div img {
    width: 100%;
}

} 